.ResultsApplication .search-results {
    display: none;
}

.ResultsApplication .search-column-right .search-subtitle a {
    transition: all 0.5s;
    font-size: 17px;
    color: #007acc;
    display: inline-block;
    white-space: inherit;
    overflow: inherit;
}

.ResultsApplication .search-column-right .search-subtitle a:hover {
    color: orangered;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.ResultsApplication .search-column-right h3.search-title a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    font-weight: 600;
}

.ResultsApplication .search-column-right h3.search-title a:hover {
    color: orangered;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.ResultsApplication .line-clamp-3 {
    overflow: inherit;
}

@media screen and (max-width: 575px) {
    .ResultsApplication .column-search-left {
        margin-top: 20px;
    }
}
